* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #c9ddf6;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 40px;
    /* margin: 40px auto; */
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#logo {
    text-decoration: none;
    color: #1a2a5a;
    font-size: 20px;
    font-weight: bold;
}

/* .nav-menu{
    display: flex;
} */

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #1a2a5a;
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
}

.nav-links:active {
    color: #4d6fff;
    /* font-weight:bold; */
}

.nav-links:hover {
    color: #4d6fff;
}

.nav-icons {
    display: flex;
    gap: 20px;
    font-size: 17px;
    cursor: pointer;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #1a2a5a;
}

.search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* inset: 0; */
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.search-modal.show {
    display: flex;
}

.search-box {
    width: 380px;
    height: 220px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 25px;
    position: relative;
    /* transform: rotate(-12deg); */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.search-box {
    width: 380px;
    height: 220px;
    background: white;
    border: 2px solid grey;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.search-input {
    margin-top: 30px;
    background: #a0a0a039;
    padding: 12px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
}

.login-modal {
    position: fixed;
    inset: 0;
    /* width: 100vw;
    height: 100vh; */
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.login-modal.show {
    display: flex;
}

.login-box {
    width: 420px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.login-box h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #1a2a5a;
}

.login-box label {
    display: block;
    margin: 15px 0 5px 0;
    color: #1a2a5a;
}

.login-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-box input:focus {
    border-color: #1a2a5a;
}

.login-box p {
    text-align: center;
    margin-top: 20px;
    color: gray;
    /* font-weight: 100;
    font-family: Arial, Helvetica, sans-serif; */
}

.login-box p a {
    text-decoration: none;
    color: #4d6fff
}

.forgot {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #4d6fff
}

.login-box button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #4d6fff;
    color: white;
    cursor: pointer;
}

.close-login {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

@media(max-width: 480px) {
    .navbar {
        padding: 0 20px;
        position: relative;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 220px;
        background: white;
        border-radius: 12px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
        padding: 10px 0;
    }

    .nav-menu.active {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        gap: 0;
    }

    .nav-items {
        margin: 0 8px;
        border-radius: 20px;
        overflow: hidden;
    }

    .nav-links {
        display: block;
        padding: 18px 10px;
        border-radius: 20px;
        transition: background-color 0.4s ease,
            color 0.4s ease,
            transform 0.3s ease;
    }

    .nav-links:hover {
        background: #ccc;
        color: #4d6fff;
    }

    .hamburger {
        display: block;
    }

    .nav-icons {
        display: none;
    }

    /* Hide desktop menu */
    .nav-menu:not(.active) {
        display: none;
    }
}

@media(max-width: 768px) {
    .navbar {
        padding: 0 20px;
    }

    .nav-list {
        gap: 20px;
    }

    .nav-menu {
        display: none;
    }
}

@media(max-width: 1024px) {
    .navbar {
        padding: 0 40px;
    }

    .nav-list {
        gap: 25px;
    }

    .nav-links {
        font-size: 15px;
    }
}